@font-face {
    font-family: Satoshi;
    src: url("./Satoshi-Medium.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SatoshiRegular;
    src: url("./Satoshi-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    src: url("./Inter-Medium.woff");
    font-weight: normal;
    font-style: normal;
}
